QPushButton#pushButton_val,
QPushButton#pushButton_signup,
QPushButton#pushButton_search,
QPushButton#pushButton_delResa,
QPushButton#pushButton_dmdResa,
QPushButton#pushButton_modifResa,
QPushButton#account,
QPushButton#account_3,
QPushButton#pushButton_recherche,
QPushButton#pushButton_consulterClients,
QPushButton#pushButton_consulterHotels,
QPushButton#pushButton_consulterAdmins,
QPushButton#pushButton_modifInfos,
QPushButton#pushButton_AjoutAdmin,
QPushButton#pushButton_ClientDep,
QPushButton#pushButton_ClientYM,
QPushButton#pushButton_Resa,
QPushButton#pushButton_compte,
QPushButton#pushButton_modifCli,
QPushButton#pushButton_signupCli,
QPushButton#pushButton_Modifier,
QPushButton#pushButton_AfficherChambres,
QPushButton#pushButton_AfficherChambres_3,
QPushButton#pushButton_ValiderResa,
QPushButton#accueil,
QPushButton#accueil_3,
QPushButton#pushButton_Stats,
QPushButton#pushButtonListeEmployes,
QPushButton#pushButton_ListeClients,
QPushButton#pushButtonListeEmployes_3,
QPushButton#pushButton_ListeClients_3,
QPushButton#pushButton_NbResaYM,
QPushButton#pushButton_NbClientsVille,
QPushButton#pushButton_PrixMoyenChambre,
QPushButton#pushButton_Retour,
QPushButton#pushButton_ListeChambres,
QPushButton#pushButton_ListeEmployes,
QPushButton#pushButton_ConfimerNC,
QPushButton#pushButton_ConfimerModifPrix,
QPushButton#pushButton_ConfimerSupp,
QPushButton#pushButton_ValiderAjoutEmp,
QPushButton#pushButton_ValiderSuppEmp,
QPushButton#pushButton_ValiderAjoutCli,
QPushButton#pushButton_ValiderSuppCli
{
    font-weight:bold;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:20px;
    padding-right:20px;
    border-radius:10%;
    background-color:#D9D9D9;
    color:black;
}


QPushButton#pushButton_val:hover,
QPushButton#pushButton_signup:hover,
QPushButton#pushButton_search:hover,
QPushButton#pushButton_delResa:hover,
QPushButton#pushButton_dmdResa:hover,
QPushButton#pushButton_modifResa:hover,
QPushButton#account:hover,
QPushButton#account_3:hover,
QPushButton#pushButton_recherche:hover,
QPushButton#pushButton_consulterClients:hover,
QPushButton#pushButton_consulterHotels:hover,
QPushButton#pushButton_consulterAdmins:hover,
QPushButton#pushButton_modifInfos:hover,
QPushButton#pushButton_AjoutAdmin:hover,
QPushButton#pushButton_ClientDep:hover,
QPushButton#pushButton_ClientYM:hover,
QPushButton#pushButton_Resa:hover,
QPushButton#pushButton_compte:hover,
QPushButton#pushButton_modifCli:hover,
QPushButton#pushButton_signupCli:hover,
QPushButton#pushButton_Modifier:hover,
QPushButton#pushButton_AfficherChambres:hover,
QPushButton#pushButton_AfficherChambres_3:hover,
QPushButton#pushButton_ValiderResa:hover,
QPushButton#accueil:hover,
QPushButton#accueil_3:hover,
QPushButton#pushButton_Stats:hover,
QPushButton#pushButtonListeEmployes:hover,
QPushButton#pushButton_ListeClients:hover,
QPushButton#pushButtonListeEmployes_3:hover,
QPushButton#pushButton_ListeClients_3:hover,
QPushButton#pushButton_NbResaYM:hover,
QPushButton#pushButton_NbClientsVille:hover,
QPushButton#pushButton_PrixMoyenChambre:hover,
QPushButton#pushButton_Retour:hover,
QPushButton#pushButton_ListeChambres:hover,
QPushButton#pushButton_ListeEmployes:hover,
QPushButton#pushButton_ConfimerNC:hover,
QPushButton#pushButton_ConfimerModifPrix:hover,
QPushButton#pushButton_ConfimerSupp:hover,
QPushButton#pushButton_ValiderAjoutEmp:hover,
QPushButton#pushButton_ValiderSuppEmp:hover,
QPushButton#pushButton_ValiderAjoutCli:hover,
QPusButton#pushButton_ValiderSuppCli:hover
{
    background-color:#298BC1;
    color:white;
}
